{% extends "base.html" %}
{% load static %}


{% block title %}
  Contact
{% endblock title %}
  {% block style %}
  
  
  <style>
    /*navbar*/
    .nav1 {
      color: black;
      text-decoration: none;
    }

    .nav1:hover {
      color: red;
      text-decoration: none;
      transition: 0.5s;
    }

    .a1 {
      text-decoration: none;
      color: black;
    }

    .a1:hover {
      text-decoration: none;
      color: #dc3545;
      transition: 0.5s;
    }

    .fntw {
      font-weight: 600;
    }

    .btn1{padding: 10px 25px;color: white;border-radius: 50px;background-color: #dc3545;border: none;font-weight: 500;}
    .btn1:hover{padding: 10px 25px;color: white;border-radius: 50px;background-color: #ff4545;border: none;font-weight: 500;transition: 0.5s;}

    /*footer*/
    .fs1 {
      font-size: 50px;
      color: #ff4545;
      margin-bottom: 30px;
    }

    .bcb {
      background-color: #222222;
    }

    .bcbb {
      background-color: black;
    }

    .dv {
      height: 50px;
      width: auto;
      position: relative;
      margin-top: 25px;
    }

    .b {
      color: white;
      text-decoration: none;
    }

    .b:hover {
      color: #dc3545;
      transition: 0.5s;
      text-decoration: none;
    }

    .btn3 {
      padding: 5px 10px;
      color: white;
      background-color: #ff4545;
      border: none;
      border-radius: 10px;
    }

    .btn3:hover {
      padding: 5px 10px;
      color: white;
      background-color: #dc3545;
      border: none;
      border-radius: 10px;
      transition: 0.5s;
    }
  </style>
  {% endblock style %}




  {% block content %}

  <div class="container-fluid mb-5" style="background-color:#f5f5f5;">
    <div class="container">
      <div class="raw">
        <div class="col-md-12 align-content-center" style="background-color:#f5f5f5;height: 100px">
          <span style="font-size: 30px;">Contact</span>
          <a href="contact" class="float-end align-content-center p-2 b1 a1">Contact</a>
        </div>
      </div>
    </div>
  </div>

  {% for message in messages %}
  <div class="container">

  <div class="alert alert-{{ message.tags }} alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Done</strong> {{message}}
  </div>
</div>

  {%endfor%}


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <h3 class="fntw">WE’D LOVE TO HEAR FROM YOU!</h3>
          <div class="container-fluid p-0 mt-3">
            <div class="row">
              <div class="col-md-2 align-content-center">
                <i class="fa-solid fa-phone fa-lg" style="color:#dc3545"></i>
              </div>
              <div class="col-md-10 p-0">
                <p class="p-0 m-0"><b>Phone</b></p>
                <p class="p-0 m-0">(657) 123-456</p>
              </div>
            </div>
          </div>
          <div class="container-fluid p-0 mt-3">
            <div class="row">
              <div class="col-md-2 align-content-center">
                <i class="fa-solid fa-envelope fa-lg" style="color:#dc3545"></i>
              </div>
              <div class="col-md-10 p-0">
                <p class="p-0 m-0"><b>Email</b></p>
                <p class="p-0 m-0"><a href="contact@website.com" style="text-decoration: none;color: black">contact@website.com</a></p>
              </div>
            </div>
          </div>
          <div class="container-fluid p-0 mt-3 mb-3">
            <div class="row">
              <div class="col-md-2 align-content-center">
                <i class="fa-solid fa-house fa-lg" style="color:#dc3545"></i>
              </div>
              <div class="col-md-10 p-0">
                <p class="p-0 m-0"><b>Address</b></p>
                <p class="p-0 m-0">London Eye, London, United Kingdom</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <form action="data" method="post">
          
          {% csrf_token %}
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="First Name" required class="w-100 p-2"
                  style="outline: none;border: 1px solid #80808048;background-color:#f5f5f5;" name="fn">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Last Name" required class="w-100 p-2"
                  style="outline: none;border: 1px solid #80808048;background-color:#f5f5f5;" name="ln">
              </div>
            </div>
            <!-- email -->
            <div class="col-md-12 mt-3">
              <input type="email" placeholder="Email" required class="w-100 p-2"
                style="outline: none;border: 1px solid #80808048;background-color:#f5f5f5;" name="em">
            </div>

            <div class="col-md-12 mt-3">
              <textarea placeholder="Comment" rows="7" class="w-100 p-2"
                style="outline: none;border: 1px solid #80808048;background-color:#f5f5f5;" name="cm"></textarea>
            </div>

            <button type="submit" class="btn1 mt-3">
              SEND MASSAGE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>



{% endblock content %}